@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --special:  #b82626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}
.custom-position {
  top: 1px;
}
.check{
  background: var(--special);
}
.color-181E29{
  background:#181E29;
}
.special-bg {
  border-top: 1px solid #fde0d6;
}
.color-font-C9CED6
{
  color: #C9CED6;
}
.color-bg-181E29{
  background-color: #181E29;
}
.special-design {
  background: linear-gradient(90deg, #ff8a00, #e52e71, #5f00c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.custom-height{
  height:400px;
}
.rounded-6xl {
  border-radius: 35px;
}
.login-btn {
  background: #181E29;
  color: #fff;
}
.register-btn{
  background: #144EE3;
  color: #fff;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
